# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# User-specific files
*.rsuser
*.userprefs

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Build
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
ScaffoldingReadMe.txt

# Windows Thumbnail cache
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Folder config
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# dotnet
*.binlog

# Local History
.localhistory/

# BenchmarkDotNet Artifacts
BenchmarkDotNet.Artifacts/

# Publish profiles
[Pp]ublish/
!**/[Pp]ublish/wwwroot/

# Local config
lgtm-config.json
